---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro'
import FixedHeader from '../components/FixedHeader.astro';
import FreeShippingDivider from '../components/FreeShippingDivider.astro';
import OurFood from '../components/OurFood.astro';
import OurProposal from '../components/OurProposal.astro';
import Reviews from '../components/OurReviews.astro';
import IllustrativeImage from '../components/IllustrativeImage.astro';
import Discount from '../components/Discount.astro';
import PizzaSize from '../components/PizzaSize.astro';
import Divider from '../components/Divider.astro';

---

<Layout title="Welcome to Astro.">
	<Header/>
	<main>
		<Hero/>
		<FreeShippingDivider/>
		<IllustrativeImage/>
		<Discount/>
		<Reviews/>
		<OurFood/>
		<OurProposal/>
		<PizzaSize/>
		<Divider/>
	</main>
</Layout>

