---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HeaderFixed from '../components/HeaderFixed.tsx';
import FreeShippingDivider from '../components/FreeShippingDivider.astro';
import OurFood from '../components/OurFood.astro';
import OurProposal from '../components/OurProposal.astro';
import Reviews from '../components/OurReviews.astro';
import IllustrativeImage from '../components/IllustrativeImage.astro';
import PizzaSize from '../components/PizzaSize.astro';
import Divider from '../components/Divider.astro';
import Faqs from '../components/FAQS.astro'
import IllustrativeImageEnd from '../components/IllustrativeImageEnd.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Allungata | Pizzería Artesanal">
	<HeaderFixed/>
	<main>
		<Hero/>
		<FreeShippingDivider/>
		<IllustrativeImage/>
		<Reviews/>
		<OurFood/>
		<OurProposal/>
		<PizzaSize/>
		<Divider/>
		<Faqs/>
		<IllustrativeImageEnd/>
		<Footer/>
	</main>
</Layout>
