---
const {py, copy} = Astro.props;
---
<button class=`flex justify-center lg:justify-left items-center gap-2 bg-transpBg border-2
border-white pl-6 pr-8 ${py} rounded-sm`>
    <img src="icons/motorcycle.svg" alt="motorcycle icon">
    <p class="text-white font-[Inter] font-semibold">{copy}</p>
</button>