---
const {py, link} = Astro.props;
---
<a href={link} target="_blank" class=`flex justify-center lg:justify-left items-center gap-2 bg-transpBg hover:bg-transpBlackBg duration-200 border-2
border-white pl-6 pr-8 py-4 rounded-[4px]`>
    <img src="icons/motorcycle.svg" alt="motorcycle icon">
    <p class="text-white font-[Inter] font-semibold">Hacer mi pedido para delivery</p>
</a>