---

const {color, bgColor, copy, icon} = Astro.props;

---

<div class=`${color} ${bgColor} inline-flex items-center gap-4 w-fit px-6 py-4 rounded-[100px]`>
        <span class="material-symbols-outlined text-3xl">
        {icon}
        </span>
    <p class="font-[Inter] font-semibold">{copy}</p>
</div>