---

---

<a href="https://www.google.com/maps/place/Allungata/@-34.5773405,-58.4306076,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcb5e9f5719131:0x8c32494e26c1a944!8m2!3d-34.5773405!4d-58.4306076!16s%2Fg%2F11gm8p1rc1?entry=tts" target="_blank">
    <div class="inline-flex flex-col items-center lg:flex-row gap-2 px-4 py-4 mt-8 rounded-2xl lg:rounded-[100px] bg-white">
        <img src="images/google.png" alt="google logo" class="w-[24px]">
        <div class="flex gap-2 justify-center items-center">
            <p>4.3</p>
            <img src="images/fivestars.png" alt="google logo">
        </div>
        <p class="text-center">69 comentarios de Google</p>
    </div>
</a>
