---

---

<div class="inline-flex flex-col items-center lg:flex-row gap-2 px-4 py-4 mt-8 rounded-2xl lg:rounded-[100px] bg-white">
    <img src="icons/google.svg" alt="google logo" class="w-[24px]">
    <div class="flex gap-2 justify-center">
        <p>4.3</p>
        <img src="icons/allungata-rating.svg" alt="google logo">
    </div>
    <p class="text-center">69 comentarios de Google</p>
</div>
