---
const {py} = Astro.props;
---
<button class=`flex justify-center lg:lg:justify-left items-center gap-2 bg-white pl-6 pr-8 ${py} rounded-sm`>
    <img src="icons/walking.svg" alt="walking icon">
    <p class="text-mainColor font-[Inter] font-semibold">Pedir para retirar</p>
</button>