---
const {py, link} = Astro.props;
---
<a href={link} target="_blank" class=`flex justify-center lg:lg:justify-left items-center gap-2 bg-white hover:bg-transpBlackBg duration-200 pl-6 pr-8 py-4 rounded-[4px] text-mainColor hover:text-white`>
    <span class="material-symbols-outlined">
        directions_walk
    </span>
    <p class="font-[Inter] font-semibold">Pedir para retirar</p>
</a>