---

---

<section class="px-20 py-14 bg-darkColor">
    <h2 class="font-semibold text-4xl text-white">Allungata es la pizzería de las <span class="text-whiteVariationText">pizzas de medio metro, empanadas artesanales</span> y mucho más.</h2>
</section>