---

---

<section class="bg-darkColor">
    <div class="max-w-[1600px] m-auto px-4 lg:px-20 py-14 ">
        <h2 class="font-semibold text-4xl text-white">Allungata es la pizzería de las <span class="text-whiteVariationText">pizzas de medio metro, empanadas artesanales</span> y mucho más.</h2>
    </div>
</section>