---

import Question from "./Question.astro";

---

<section class="p-20 bg-whiteVariationBg">
    <h3 class="text-4xl font-semibold text-darkColor mb-[72px]">Preguntas frecuentes (FAQ)</h3>
    <div class="mb-6">
        <div class="flex gap-4 p-4">
            <img src="icons/question.svg" alt="question icon">
            <h4 class="font-semibold text-2xl">Sobre Nosotros</h4>
        </div>
        <div>
            <Question/>    
            <Question/>    
            <Question/>    
            <Question/>    
        </div>
    </div>
    <div class="mb-6">
        <div class="flex gap-4 p-4">
            <img src="icons/question.svg" alt="question icon">
            <h4 class="font-semibold text-2xl">Sobre envío</h4>
        </div>
        <div>
            <Question/>    
            <Question/>    
            <Question/>    
        </div>
    </div>
    <div class="mb-6">
        <div class="flex gap-4 p-4">
            <img src="icons/question.svg" alt="question icon">
            <h4 class="font-semibold text-2xl">Sobre medios de pago</h4>
        </div>
        <div>
            <Question/>    
            <Question/>    
            <Question/>    
        </div>
    </div>
    <div class="mb-6">
        <div class="flex gap-4 p-4">
            <img src="icons/question.svg" alt="question icon">
            <h4 class="font-semibold text-2xl">Sobre nuestra comida</h4>
        </div>
        <div>
            <Question/>    
            <Question/>    
            <Question/>    
        </div>
    </div>
</section>