---
import DeliveryButton from "./subcomponents/DeliveryButton.astro";
import WithdrawButton from "./subcomponents/WithdrawButton.astro";

---

<section class="flex justify-between px-20 py-8 items-center bg-mainColor hidden">
    <figure class="w-[60px]">
        <img src="/public/allungata-logo.svg" alt="allungata logo">
    </figure>
    <div class="flex gap-4">
        <DeliveryButton py={'py-2'} copy={'Pedir para delivery'}/>
        <WithdrawButton py={'py-2'}/>
    </div>
</section>