---

---

<footer class="bg-darkColor">
    <div class="flex justify-center gap-6 py-10 px-40">
        <img src="icons/phone.svg" alt="telephone icon">
        <p class="text-white text-2xl">Hacé tu pedido al <span class="font-semibold">4777.4019</span></p>
    </div>
    <div class="flex justify-center py-10 px-40">
        <p class="font-semibold font-[Inter] text-base text-white">Allungata Pizzería Artesanal 2023©</p>
    </div>
</footer>