---

---
<div class="flex items-center py-8 bg-darkColor">
    <div class="flex relative gap-8 overflow-hidden w-full">
        <div class="flex flex-shrink-0 gap-8 animate-infiniteSlider overflow-hidden">
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
        </div>
        <div class="flex flex-shrink-0 gap-8 animate-infiniteSlider overflow-hidden">
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
            <p class="font-[Inter] font-semibold text-white text-base">Envío gratis</p>
            <p class="font-[Inter] font-semibold text-white text-base ">•</p>
        </div>
    </div>
</div>
