---
import TimeState from './TimeState.tsx';
import ScheduleModal from './subcomponents/ScheduleModal';
---

<section class="bg-mainColor w-full">
    <section class="max-w-[1600px] m-auto flex flex-col gap-8 lg:grid items-center grid-cols-3 px-4 lg:px-20 py-12 ">
        <div class="col-start-1 col-end-3">
            <TimeState isOpen client:load />
            <!-- <div class="w-full h-full grid place-content-center">
                <ScheduleModal client:load/>
            </div> -->
            <h1 class="text-4xl font-bold text-white mb-4">
                La pizzería artesanal, para vos que <span class="text-whiteVariationText">preferís darte un buen gusto</span>
            </h1>
            <p class="font-medium text-xl text-white font-[Inter]">
                En Allungata la comida es artesanal y con ingredientes de la mejor calidad
            </p>
        </div>
        <div>
            <img src="images/empanadas-hero.webp" alt="empanadas hero image">
        </div>
    </section>
</section>