---
import ProposalCard from "./ProposalCard.astro";
---

<section class="bg-darkColor px-4 py-10 lg:px-20 lg:py-20">
    <h3 class="text-4xl font-semibold text-white mb-[72px]">¿Por qué Allungata es la mejor opción de Palermo?</h3>
    <div class="flex flex-col lg:flex-row gap-8">
        <ProposalCard icon={'artesanal'} title={'Porque nuestra comida es artesanal'} copy={'Disfrutá de nuestra comida artesanal, hecha con ingredientes naturales, de calidad, y con un sabor único.'}/>
        <ProposalCard icon={'atencion'} title={'Porque priorizamos la buena atención'} copy={'Destacamos en la atención que le brindamos a nuestros clientes. Con muchos de ellos ya somos como familia.'}/>
        <ProposalCard icon={'compartir'} title={'Porque medio metro es ideal para compartir'} copy={'Nuestras pizzas de medio metro son perfectas para compartir y disfrutar de momentos deliciosos.'}/>
    </div>
</section>