---
import Rating from "./subcomponents/Rating.astro";
import ReviewCard from "./ReviewCard.astro"
---

<section class="px-4 lg:px-20 pt-10 lg:pt-20 bg-whiteVariationBg">
    <h3 class="text-4xl font-semibold">Algunos de nuestros clientes que nos recomiendan</h3>
    <div class="w-full flex justify-center lg:justify-start">
        <Rating/>
    </div>
    <div class="flex flex-col lg:flex-row gap-10 mt-12">
        <ReviewCard/>
        <ReviewCard/>
        <ReviewCard/>
    </div>
</section>