---
import PizzaSizeCard from "./PizzaSizeCard.astro";
---

<section class="px-4 lg:px-20 py-10 lg:py-32">
    <h3 class="text-4xl font-semibold mb-10 lg:mb-[72px]">Todos los tamaños de pizza disponibles</h3>

    <div class="flex flex-col lg:flex-row gap-4">
        <PizzaSizeCard image={'medio-metro'} title={'Medio metro'} portions={'10 porciones'} copy={'Para compartir entre 3-4 personas'}/>
        <PizzaSizeCard image={'mediana'} title={'Mediana'} portions={'8 porciones'} copy={'Para compartir entre 2-3 personas'}/>
        <PizzaSizeCard image={'individual'} title={'Medio metro'} portions={'4 porciones'} copy={'Para 1 o para compartir con alguien más'}/>
    </div>

</section>