---

const {question, answer} = Astro.props;

---

<div>
    <div class="flex justify-between p-4 bg-white cursor-pointer faq-header">
        <p class="text-base font-medium">{question}</p>
        <button>
            <img src="icons/arrowdown.png" alt="arrow down icon">
        </button>
    </div>
    <div class="p-4 bg-bgLightGray hidden font-[Inter]">
        <p>{answer}</p>
    </div>
</div>
