---

const {review, customer} = Astro.props;

---

<div class="border-2 p-8 border-darkColor rounded-2xl">
    <img src="icons/fivestars.png" alt="cinco estrellas" class="mb-4">
    <p class="mb-6">{review}</p>
    <h4>{customer}</h4>
</div>
